:root {
    --theme: #FFFFFF;
    --entry: #E1E5F2;
    --primary: #1F7A8C;
    --secondary: #BFDBF7;
    --tertiary: #E1E5F2;
    --content: #022B3A;
    --hljs-bg: #BFDBF7;
    --code-bg: #E1E5F2;
    --border: #BFDBF7;
}

.dark {
    --theme: #022B3A;
    --entry: #1F7A8C;
    --primary: #BFDBF7;
    --secondary: #E1E5F2;
    --tertiary: #BFDBF7;
    --content: #FFFFFF;
    --hljs-bg: #1F7A8C;
    --code-bg: #BFDBF7;
    --border: #E1E5F2;
}